.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  .logo {
    max-width: 200px;
  }
  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li a {
        padding: 10px 15px;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        font-size: 1.125rem;
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
